//Base
$base-font-size: 16px;
$base-font-family: 'Montserrat', sans-serif;
$second-font-family: 'Roboto', sans-serif;

//Container
$base-content-padding: 15px;
$base-content-full-width: 1170px;
$base-content-width: $base-content-full-width + ($base-content-padding*2);

//Container small
$small-content-padding: 15px;
$small-content-full-width: 770px;
$small-content-width: $small-content-full-width + ($small-content-padding*2);

//Header Main
$header-height: 100px;
$header-height-tablet: 70px;

//Header additional
$header-additional-height: 40px;

//Typography
$typography-map: (
	default:        $base-font-size,

	huge:           50px,
  bigger:         40px,
	big:            32px,

	larger:         36px,
	large:          28px,
	middle:					20px,
	medium:         18px,
	small:          16px,
	smaller:        14px,
);

// Only for typograpy size helper
$typography-mobile-map: (
	default:        $base-font-size,

	huge:           48px,
	bigger:         40px,
	big:            24px,

	larger:         28px,
	large:          24px,
	middle:					20px,
	medium:         18px,
  small:          16px,
  smaller:        14px,
);

$section-spacing: 120px 0;
$section-spacing-mobile: 60px 0;
