.projects {
  background: $base-alabaster-color;
  padding: $section-spacing-mobile;

  @include media(tablet up) {
    padding: $section-spacing;
  }

  &__container {

    @include site-container();
  }

  &__title {

    @extend %heading-reset;
    color: $base-tundora-color;
    font-size: map-get($typography-mobile-map, 'large');
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    @include media(tablet up) {
      font-size: map-get($typography-map, 'large');
    }
  }

  &__intro {
    font-size: map-get($typography-map, 'medium');
    margin: 30px auto 0;
    max-width: 630px;
    text-align: center;
    width: 100%;

    @include media(tablet up) {
      font-size: map-get($typography-map, 'medium');
    }
  }

  &__list {

    @include flex-container(1);
    margin: 100px -15px 0;

    @include media(tablet up) {

      @include flex-container(2);
    }

    @include media(desktop up) {

      @include flex-container(3);
    }
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__content {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
  }


  &__load-more {
    display: flex;
    justify-content: center;
    margin: 90px auto 0;
    max-width: 190px;
  }

  &__button {
    background: $base-eucalyptus-color;
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    color: $base-white-color;
    font-size: map-get($typography-map, 'middle');
    font-weight: 300;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
    transition-property: box-shadow, background-color;
    transition-timing-function: ease-in-out;
    width: 100%;

    &:hover,
    &:active {
      background: $base-jewel-color;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
  }
}
